{% extends "Pages/base.html" %} {% load static %} {% block content%}
<div
    class="page-header align-items-start min-height-100 m-3 border-radius-xl"
    style="
      background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1949&q=80');
    ">
    <span class="mask bg-gradient-dark opacity-6"></span>
  </div>
  <div class="wrapper">
    <div class="container">
        {% comment %} =================start code from here=============== {% endcomment %}

    </div>

    {% endblock %}
  </div>
</main>
