{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />

{% comment %} <link href="{% static 'css/course_details/bootstrap.css' %}" rel="stylesheet" /> {% endcomment %}
<link href="{% static 'css/course_details/color.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/font-awaesome.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/icon.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/preetyPhotos.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/responsive.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/shortcodes.css' %}" rel="stylesheet" />
<link href="{% static 'css/course_details/slick.css' %}" rel="stylesheet" />
{% comment %} <link href="{% static 'css/course_details/typography.css' %}" rel="stylesheet" /> {% endcomment %}
<link href="{% static 'css/course_details/widget.css' %}" rel="stylesheet" />


<script
  src="https://kit.fontawesome.com/42d5adcbca.js"
  crossorigin="anonymous"></script>

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
  rel="stylesheet" />

<link
  id="pagestyle"
  href="{% static '/css/material-dashboard.min.css' %}"
  rel="stylesheet" />

<style>
  .async-hide {
    opacity: 0 !important;
  }
</style>
