{% extends 'components/dashboard/base.html'%} {% load static %} 
{%block content%}
{% if user.is_student %}
<div class="container-fluid py-4 d-flex justify-content-center">

  <div class="row mt-4">
    <div class="col mt-4 mb-3">
      <div class="card z-index-2">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
            <h4 class="text-white m-3 p-3 text-center">Become Instructor</h4>
          </div>
        </div>
        <div class="card-body d-flex justify-content-center">
                  
          <button type="button" class="btn bg-gradient-success btn-lg mt-1 mx-auto" data-bs-toggle="modal" data-bs-target="#publish_modal">
            Apply For Instructor
          </button>
          {% comment %} ===modal {% endcomment %}
          <div class="modal fade" id="publish_modal" tabindex="-1" role="dialog" aria-labelledby="publish_modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="publish_modalLabel">Delete Course</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure want to Become Instructor?</p>
                  <strong>{{i.username}}</strong>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                  <form method="post" action="{% url 'request_instructor' user.id %}">
                    {% csrf_token %}
                  <button type="submit" class="btn bg-gradient-success" data-bs-dismiss="modal">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
</div>

{% endblock %}
