{% extends 'components/dashboard/base.html'%} {% load static %} 
{%block content%}
{% if user.is_student %}
<div class="container-fluid py-4 d-flex justify-content-center">

  <div class="row mt-4">
    <div class="col mt-4 mb-3">
      <div class="card z-index-2">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
            <h4 class="text-white m-3 p-3 text-center">Become Instructor</h4>
          </div>
        </div>
        <div class="card-body d-flex justify-content-center">
          {% if not user.not_is_instructor_verified %}            
          <a class="btn btn-success btn-lg ">Apply Now</a>
          {% else %}
          <a class="btn btn-warning btn-lg ">Pending</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endif %}
{% endblock %}
