{% extends 'components/dashboard/base.html'%}
{% load static %}
{%block content%}
<div class="row">
  <div class="col-lg-12 position-relative z-index-2">
    {% comment %} =================================Statistics============================== {% endcomment %}
    <div class="row my-5">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card mb-2">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Bookings</p>
              <h4 class="mb-0">281</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+55% </span
              >than last week
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-sm-0 mt-4">
        <div class="card mb-2">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">leaderboard</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Today's Users</p>
              <h4 class="mb-0">2,300</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+3% </span
              >than last month
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
        <div class="card mb-2">
          <div class="card-header p-3 pt-2 bg-transparent">
            <div
              class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">store</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Revenue</p>
              <h4 class="mb-0">34k</h4>
            </div>
          </div>
          <hr class="horizontal my-0 dark" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+1% </span
              >than yesterday
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
        <div class="card">
          <div class="card-header p-3 pt-2 bg-transparent">
            <div
              class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person_add</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Followers</p>
              <h4 class="mb-0">+91</h4>
            </div>
          </div>
          <hr class="horizontal my-0 dark" />
          <div class="card-footer p-3">
            <p class="mb-0">Just updated</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %} =====================Continue Learning=========================== {% endcomment %}
    <div class="container my-5">
      <h3>Continue Learning ...</h3>
      <div class="row">
        <div class="col col-md-6 col-lg-3">
          <div class="card card-background card-background-mask-dark align-items-start mt-4">
            <div class="full-background cursor-pointer" style="background-image: url('https://images.unsplash.com/photo-1604213410393-89f141bb96b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxuYXR1cmV8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60');"></div>
            <div class="card-body">
              <h5 class="text-white mb-0">Some Kind Of Blues</h5>
              <p class="text-white text-sm">Deftones</p>
              <div class="d-flex mt-4 pt-2">
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Prev">
                  <i class="material-icons p-2">skip_previous</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mx-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Play">
                  <i class="material-icons p-2">play_arrow</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Next">
                  <i class="material-icons p-2">skip_next</i>
                </button>
              </div>
            </div>
          </div>
          <div class="progress-wrapper">
            <div class="progress">
            <div class="progress-bar bg-primary rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </div>
        </div>
        <div class="col col-md-6 col-lg-3">
          <div class="card card-background card-background-mask-dark align-items-start mt-4">
            <div class="full-background cursor-pointer" style="background-image: url('https://images.unsplash.com/photo-1604213410393-89f141bb96b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxuYXR1cmV8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60');"></div>
            <div class="card-body">
              <h5 class="text-white mb-0">Some Kind Of Blues</h5>
              <p class="text-white text-sm">Deftones</p>
              <div class="d-flex mt-4 pt-2">
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Prev">
                  <i class="material-icons p-2">skip_previous</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mx-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Play">
                  <i class="material-icons p-2">play_arrow</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Next">
                  <i class="material-icons p-2">skip_next</i>
                </button>
              </div>
            </div>
          </div>
          <div class="progress-wrapper">
            <div class="progress">
            <div class="progress-bar bg-primary rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </div>
        </div>
        <div class="col col-md-6 col-lg-3">
          <div class="card card-background card-background-mask-dark align-items-start mt-4">
            <div class="full-background cursor-pointer" style="background-image: url('https://images.unsplash.com/photo-1604213410393-89f141bb96b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxuYXR1cmV8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60');"></div>
            <div class="card-body">
              <h5 class="text-white mb-0">Some Kind Of Blues</h5>
              <p class="text-white text-sm">Deftones</p>
              <div class="d-flex mt-4 pt-2">
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Prev">
                  <i class="material-icons p-2">skip_previous</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mx-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Play">
                  <i class="material-icons p-2">play_arrow</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Next">
                  <i class="material-icons p-2">skip_next</i>
                </button>
              </div>
            </div>
          </div>
          <div class="progress-wrapper">
            <div class="progress">
            <div class="progress-bar bg-primary rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </div>
        </div>
        <div class="col col-md-6 col-lg-3">
          <div class="card card-background card-background-mask-dark align-items-start mt-4">
            <div class="full-background cursor-pointer" style="background-image: url('https://images.unsplash.com/photo-1604213410393-89f141bb96b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxuYXR1cmV8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60');"></div>
            <div class="card-body">
              <h5 class="text-white mb-0">Some Kind Of Blues</h5>
              <p class="text-white text-sm">Deftones</p>
              <div class="d-flex mt-4 pt-2">
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Prev">
                  <i class="material-icons p-2">skip_previous</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mx-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Play">
                  <i class="material-icons p-2">play_arrow</i>
                </button>
                <button class="btn btn-outline-white rounded-circle p-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Next">
                  <i class="material-icons p-2">skip_next</i>
                </button>
              </div>
            </div>
          </div>
          <div class="progress-wrapper">
            <div class="progress">
            <div class="progress-bar bg-primary rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    {% comment %} ===================================other details============================ {% endcomment %}
    <div class="row mb-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas
                  id="chart-bars"
                  class="chart-canvas"
                  height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0">Website Views</h6>
            <p class="text-sm">Last Campaign Performance</p>
            <hr class="dark horizontal" />
            <div class="d-flex">
              <i class="material-icons text-sm my-auto me-1"
                >schedule</i
              >
              <p class="mb-0 text-sm">campaign sent 2 days ago</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div
              class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas
                  id="chart-line"
                  class="chart-canvas"
                  height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0">Daily Sales</h6>
            <p class="text-sm">
              (<span class="font-weight-bolder">+15%</span>) increase in
              today sales.
            </p>
            <hr class="dark horizontal" />
            <div class="d-flex">
              <i class="material-icons text-sm my-auto me-1"
                >schedule</i
              >
              <p class="mb-0 text-sm">updated 4 min ago</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div
              class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas
                  id="chart-line-tasks"
                  class="chart-canvas"
                  height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0">Completed Tasks</h6>
            <p class="text-sm">Last Campaign Performance</p>
            <hr class="dark horizontal" />
            <div class="d-flex">
              <i class="material-icons text-sm my-auto me-1"
                >schedule</i
              >
              <p class="mb-0 text-sm">just updated</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} ========================course recommendation============================ {% endcomment %}
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6">
        <div class="card" data-animation="true">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <a class="d-block blur-shadow-image">
              <img
                src="{% static 'img/products/product-1-min.jpg' %}"
                alt="img-blur-shadow"
                class="img-fluid shadow border-radius-lg" />
            </a>
            <div
              class="colored-shadow"
              style="
                background-image: url('{% static 'img/products/product-1-min.jpg' %}
              "></div>
          </div>
          <div class="card-body text-center">
            <div class="d-flex mt-n6 mx-auto">
              <a
                class="btn btn-link text-primary ms-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Refresh">
                <i class="material-icons text-lg">refresh</i>
              </a>
              <button
                class="btn btn-link text-info me-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Edit">
                <i class="material-icons text-lg">edit</i>
              </button>
            </div>
            <h5 class="font-weight-normal mt-3">
              <a href="javascript:;">Cozy 5 Stars Apartment</a>
            </h5>
            <p class="mb-0">
              The place is close to Barceloneta Beach and bus stop just
              2 min by walk and near to "Naviglio" where you can enjoy
              the main night life in Barcelona.
            </p>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer d-flex">
            <p class="font-weight-normal my-auto">$899/night</p>
            <i
              class="material-icons position-relative ms-auto text-lg me-1 my-auto"
              >place</i
            >
            <p class="text-sm my-auto">Barcelona, Spain</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
        <div class="card" data-animation="true">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <a class="d-block blur-shadow-image">
              <img
                src="{% static 'img/products/product-2-min.jpg' %}"
                alt="img-blur-shadow"
                class="img-fluid shadow border-radius-lg" />
            </a>
            <div
              class="colored-shadow"
              style="
                background-image: url('{% static 'img/products/product-2-min.jpg' %}
              "></div>
          </div>
          <div class="card-body text-center">
            <div class="d-flex mt-n6 mx-auto">
              <a
                class="btn btn-link text-primary ms-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Refresh">
                <i class="material-icons text-lg">refresh</i>
              </a>
              <button
                class="btn btn-link text-info me-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Edit">
                <i class="material-icons text-lg">edit</i>
              </button>
            </div>
            <h5 class="font-weight-normal mt-3">
              <a href="javascript:;">Office Studio</a>
            </h5>
            <p class="mb-0">
              The place is close to Metro Station and bus stop just 2
              min by walk and near to "Naviglio" where you can enjoy the
              night life in London, UK.
            </p>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer d-flex">
            <p class="font-weight-normal my-auto">$1.119/night</p>
            <i
              class="material-icons position-relative ms-auto text-lg me-1 my-auto"
              >place</i
            >
            <p class="text-sm my-auto">London, UK</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0">
        <div class="card" data-animation="true">
          <div
            class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <a class="d-block blur-shadow-image">
              <img
                src="{% static 'img/products/product-3-min.jpg' %}"
                alt="img-blur-shadow"
                class="img-fluid shadow border-radius-lg" />
            </a>
            <div
              class="colored-shadow"
              style="
                background-image: url('{% static 'img/products/product-3-min.jpg' %}
              "></div>
          </div>
          <div class="card-body text-center">
            <div class="d-flex mt-n6 mx-auto">
              <a
                class="btn btn-link text-primary ms-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Refresh">
                <i class="material-icons text-lg">refresh</i>
              </a>
              <button
                class="btn btn-link text-info me-auto border-0"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Edit">
                <i class="material-icons text-lg">edit</i>
              </button>
            </div>
            <h5 class="font-weight-normal mt-3">
              <a href="javascript:;">Beautiful Castle</a>
            </h5>
            <p class="mb-0">
              The place is close to Metro Station and bus stop just 2
              min by walk and near to "Naviglio" where you can enjoy the
              main night life in Milan.
            </p>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer d-flex">
            <p class="font-weight-normal my-auto">$459/night</p>
            <i
              class="material-icons position-relative ms-auto text-lg me-1 my-auto"
              >place</i
            >
            <p class="text-sm my-auto">Milan, Italy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}