{% load static %}
<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main">
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{% url 'dashboard' %}" target="_blank">
      <img
        src="{% static 'img/logo-ct.png' %}"
        class="navbar-brand-img h-100"
        alt="main_logo" />
      <span class="ms-1 font-weight-bold text-white"
        >Instructor | Sky Learner</span
      >
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2" />
  <div
    class="collapse navbar-collapse w-auto h-auto"
    id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item mb-2 mt-0">
        <a
          data-bs-toggle="collapse"
          href="analytics.html#ProfileNav"
          class="nav-link text-white"
          aria-controls="ProfileNav"
          role="button"
          aria-expanded="false">
          <img src="{{ MEDIA_URL }}{{user.profile_image.url}}" class="avatar" />
          <span class="nav-link-text ms-2 ps-1">{{ user.username }}</span>
        </a>
        <div class="collapse" id="ProfileNav" style>
          <ul class="nav">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="../pages/profile/overview.html">
                <span class="sidenav-mini-icon"> MP </span>
                <span class="sidenav-normal ms-3 ps-1"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="../pages/account/settings.html">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal ms-3 ps-1"> Settings </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'logout' %}">
                <span class="sidenav-mini-icon"> L </span>
                <span class="sidenav-normal ms-3 ps-1"> Logout </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <hr class="horizontal light mt-0" />
      <li class="nav-item">
        <a
          data-bs-toggle="collapse"
          href="analytics.html#dashboardsExamples"
          class="nav-link text-white active"
          aria-controls="dashboardsExamples"
          role="button"
          aria-expanded="false">
          <i class="material-icons-round opacity-10">dashboard</i>
          <span class="nav-link-text ms-2 ps-1">Dashboards</span>
        </a>
        <div class="collapse show" id="dashboardsExamples">
          <ul class="nav">
            
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'mycourses' %}">
                <span class="sidenav-mini-icon"> C </span>
                <span class="sidenav-normal ms-2 ps-1"> My Courses </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'myblogs' %}">
                <span class="sidenav-mini-icon"> B </span>
                <span class="sidenav-normal ms-2 ps-1"> My Blogs </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url 'purchasehistory' %}">
                <i class="material-icons-round opacity-10">money</i>
                <span class="sidenav-normal ms-2 ps-1"> Purchase History</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'inbox' %}">
                <i class="material-icons-round opacity-10">message</i>
                <span class="sidenav-normal ms-2 ps-1"> Messages</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url 'myfeedbacks' %}">
                <i class="material-icons-round opacity-10">money</i>
                <span class="sidenav-normal ms-2 ps-1"> My Feedbacks</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
