{% extends 'components/dashboard/base.html'%} {%block title%}Add Course |
Skylearner {% endblock %} {% block sub_title %}
<h6 class="font-weight-bolder mb-0"> Add New Course</h6>
{% endblock %} {% load static %} 
{% block content %}
<form method="post"action="{% url 'create_course' %}" enctype="multipart/form-data" id="courseForm">
  {% csrf_token %}
    <div class='row'>
        <div class='col-8'>
  <div class="form-group">
    <label for="title">Course Title</label>
    <input
      class="form-control form-control-lg border"
      type="text"
      placeholder=""
      id="title" name="title" />
    <label for="slug">Slug</label>
    <input
      class="form-control form-control-lg border"
      type="text"
      placeholder=""
      id="slug" value="Slug Will Automatically Added"
      readonly />
    <div class="row">
        <div class="col">
            <label for="price">Original Price</label>
            <input
              type="text"
              class="form-control form-control-lg border"
              id="price" name="price"/>
          </div>
          <div class="col">
            <label for="dpercent">Discount %</label>
            <input
              type="text"
              class="form-control form-control-lg border"
              id="dpercent" name="discount" />
          </div>
      <div class="col">
        <label for="inputState">Category</label>
        <select id="inputState" class="form-control form-control-lg border" name="category">
          {% for i in category %}
            <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <label for="exampleFormControlTextarea1">Course Description</label>
    <textarea class="form-control form-control-lg border" id="exampleFormControlTextarea1" rows="10" name="description" required></textarea>
  </div>

</div>
<div class="col-4">
    <hr class="dark horizontal my-1" />
    <label for="image" class="mt-5">Choose Featured Image</label>
    <input type="file" class="form-control-file" id="image" name="featured_image" />
</div>
</div>


<hr class="dark horizontal my-3" />
<div class="card-footer d-flex">
  <button type="button" class="btn btn-warning btn-lg mx-auto" onclick="setBlogStatus('DRAFT')">Save as Draft</button>
  <button type="button" class="btn btn-success btn-lg mx-auto" onclick="setBlogStatus('PUBLISH')">Publish</button>
  <input type="hidden" id="blogStatus" name="status" value="DRAFT">
</div>
</form>
<script>
  function setBlogStatus(status) {
      document.getElementById('blogStatus').value = status;
      document.getElementById('courseForm').submit();
  }
</script>
{% endblock %}
