{% extends 'components/dashboard/base.html'%}
{%block title%}Settings | Skylearner {% endblock %}
{% load static %}
{%block content%}
<div class="row mb-5">
    <div class="col-lg-3">
      <div class="card position-sticky top-1">
        <ul class="nav flex-column bg-white border-radius-lg p-3">
          <li class="nav-item">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#profile">
              <i class="material-icons text-lg me-2">person</i>
              <span class="text-sm">Profile</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#basic-info">
              <i class="material-icons text-lg me-2">receipt_long</i>
              <span class="text-sm">Basic Info</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#password">
              <i class="material-icons text-lg me-2">lock</i>
              <span class="text-sm">Change Password</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#2fa">
              <i class="material-icons text-lg me-2">security</i>
              <span class="text-sm">2FA</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#delete">
              <i class="material-icons text-lg me-2">delete</i>
              <span class="text-sm">Delete Account</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 mt-lg-0 mt-4">
      <div class="card card-body" id="profile">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-auto col-4">
            <div class="avatar avatar-xl position-relative">
              {% if user.profile_image %}
              <img
                src="{{user.profile_image.url}}"
                alt="bruce"
                class="w-100 rounded-circle shadow-sm" >
              {% else %}
              <img
                src=""
                alt="bruce"
                class="w-100 rounded-circle shadow-sm" >
              {% endif%}
            </div>
          </div>
          <div class="col-sm-auto col-8 my-auto">
            <div class="h-100">
              <h5 class="mb-1 font-weight-bolder">{{ user.username }}</h5>
              <p class="mb-0 font-weight-normal text-sm">
                Student
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4" id="basic-info">
        <div class="card-header">
          <h5>Basic Info</h5>
        </div>
        {% if 'update=True' in request.get_full_path %}
          <ul class="messages" style="list-style-type: none; padding: 0; margin: 0;">                        
              <li>
                  <div id="successMessage" class="alert alert-success text-white" role="alert">
                      Profile Updated Successfully
                  </div>
              </li>                        
          </ul>

          <script>
              // Add a script to hide the success message after 3 seconds
              document.addEventListener('DOMContentLoaded', function () {
                  var successMessage = document.getElementById('successMessage');
                  if (successMessage) {
                      setTimeout(function () {
                          successMessage.style.display = 'none';
                      }, 3000); // 3000 milliseconds = 3 seconds
                  }
              });
          </script>
        {% endif %}

        <form  method='post' action="{% url 'update_profile' %}">
          {% csrf_token %}
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-6">
              <div class="input-group input-group-static">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control" value="{{user.first_name}}" name="firstname" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group input-group-static">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control" value="{{user.last_name}}" name="lastname" />
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-10">
              <div class="input-group input-group-static">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control" value="{{user.email}}" name="email" />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group input-group-static">
                {% if user.is_verified == True %}
                    <div class="alert alert-success text-white" role="alert">
                        Verified
                    </div>
                {% elif user.is_verified == False %}
                    <div class="alert alert-danger text-white" role="alert">
                        Not Verified
                    </div>
                {% endif %}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group input-group-static">
                <label>Your Bio</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{user.user_bio}}" name="user_bio" />
              </div>
            </div>
           
          </div>
          <hr>
          Choose Profile Picture: 
          <input type="file" id="img" name="profile_image" accept="image/*"> 
          <div class="row">
            
            <div class="col-md-6">
              <button class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">
                Update Profile
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </form>
      <div class="card mt-4" id="password">
        <div class="card-header">
          <h5>Change Password</h5>
        </div>
        <div class="card-body pt-0">
          <div class="input-group input-group-outline">
            <label class="form-label">Current password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="input-group input-group-outline my-4">
            <label class="form-label">New password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="input-group input-group-outline">
            <label class="form-label">Confirm New password</label>
            <input type="password" class="form-control" />
          </div>
          <h5 class="mt-5">Password requirements</h5>
          <p class="text-muted mb-2">
            Please follow this guide for a strong password:
          </p>
          <ul class="text-muted ps-4 mb-0 float-start">
            <li>
              <span class="text-sm">One special characters</span>
            </li>
            <li>
              <span class="text-sm">Min 6 characters</span>
            </li>
            <li>
              <span class="text-sm">One number (2 are recommended)</span>
            </li>
            <li>
              <span class="text-sm">Change it often</span>
            </li>
          </ul>
          <button class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">
            Update password
          </button>
        </div>
      </div>

      <div class="card mt-4" id="2fa">
        <div class="card-header d-flex">
          <h5 class="mb-0">Two-factor authentication</h5>
          
          <span class="badge badge-danger ms-auto mb-auto">Disabled</span>
         
        </div>
        <div class="card-body">
          <div class="d-flex">
            <p class="my-auto">Email</p>
            <p class="text-secondary text-sm ms-auto my-auto me-3">
              No Security Keys
            </p>
            <button
              class="btn btn-sm btn-outline-dark mb-0"
              type="button">
              Add
            </button>
          </div>
          <hr class="horizontal dark" />
          <div class="d-flex">
            <p class="my-auto">SMS number</p>
            <p class="text-secondary text-sm ms-auto my-auto me-3">
              +4012374423
            </p>
            <button
              class="btn btn-sm btn-outline-dark mb-0"
              type="button">
              Edit
            </button>
          </div>
          <hr class="horizontal dark" />
          <div class="d-flex">
            <p class="my-auto">Authenticator app</p>
            <p class="text-secondary text-sm ms-auto my-auto me-3">
              Not Configured
            </p>
            <button
              class="btn btn-sm btn-outline-dark mb-0"
              type="button">
              Set up
            </button>
          </div>
        </div>
      </div>
       <hr class="horizontal dark" />
      <div class="card mt-4" id="delete">
        <div class="card-body">
          <div class="d-flex align-items-center mb-sm-0 mb-4">
            <div class="w-50">
              <h5>Delete Account</h5>
              <p class="text-sm mb-0">
                Once you delete your account, there is no going back.
                Please be certain.
              </p>
            </div>
            <div class="w-50 text-end">
              <button
                class="btn bg-gradient-danger mb-0 ms-2"
                type="button"
                name="button">
                Delete Account
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}