{% extends 'components/dashboard/base.html'%}
{%block title%}Settings | Skylearner {% endblock %}
{% load static %}
{%block content%}
<div class="row mb-5">
    <div class="col-lg-3">
      <div class="card position-sticky top-1">
        <ul class="nav flex-column bg-white border-radius-lg p-3">
          <li class="nav-item">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#profile">
              <i class="material-icons text-lg me-2">person</i>
              <span class="text-sm">Profile</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#basic-info">
              <i class="material-icons text-lg me-2">receipt_long</i>
              <span class="text-sm">Basic Info</span>
            </a>
          </li>
          <li class="nav-item pt-2">
            <a
              class="nav-link text-dark d-flex"
              data-scroll
              href="settings.html#password">
              <i class="material-icons text-lg me-2">lock</i>
              <span class="text-sm">Change Password</span>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="col-lg-9 mt-lg-0 mt-4">
      <div class="card card-body" id="profile">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-auto col-4">
            <div class="avatar avatar-xl position-relative">
              {% if user.profile_image %}
              <img
                src="{{user.profile_image.url}}"
                alt="bruce"
                class="w-100 rounded-circle shadow-sm" >
              {% else %}
              <img
                src=""
                alt="bruce"
                class="w-100 rounded-circle shadow-sm" >
              {% endif%}
            </div>
          </div>
          <div class="col-sm-auto col-8 my-auto">
            <div class="h-100">
              <h5 class="mb-1 font-weight-bolder">{{ user.username }}</h5>
              <p class="mb-0 font-weight-normal text-sm">
                Student
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4" id="basic-info">
        <div class="card-header">
          <h5>Basic Info</h5>
        </div>
        {% if 'update=True' in request.get_full_path %}
          <ul class="messages" style="list-style-type: none; padding: 0; margin: 0;">                        
              <li>
                  <div id="successMessage" class="alert alert-success text-white" role="alert">
                      Profile Updated Successfully
                  </div>
              </li>                        
          </ul>

          <script>
              // Add a script to hide the success message after 3 seconds
              document.addEventListener('DOMContentLoaded', function () {
                  var successMessage = document.getElementById('successMessage');
                  if (successMessage) {
                      setTimeout(function () {
                          successMessage.style.display = 'none';
                      }, 3000); // 3000 milliseconds = 3 seconds
                  }
              });
          </script>
        {% endif %}

        <form  method='post' action="{% url 'update_profile' %}">
          {% csrf_token %}
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-6">
              <div class="input-group input-group-static">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control" value="{{user.first_name}}" name="firstname" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group input-group-static">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control" value="{{user.last_name}}" name="lastname" />
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-10">
              <div class="input-group input-group-static">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control" value="{{user.email}}" name="email" />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group input-group-static">
                {% if user.is_verified == True %}
                    <div class="alert alert-success text-white" role="alert">
                        Verified
                    </div>
                {% elif user.is_verified == False %}
                    <div class="alert alert-danger text-white" role="alert">
                        Not Verified
                    </div>
                {% endif %}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group input-group-static">
                <label>Your Bio</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{user.user_bio}}" name="user_bio" />
              </div>
            </div>
           
          </div>
          <hr>
          Choose Profile Picture: 
          <input type="file" id="img" name="profile_image" accept="image/*"> 
          <div class="row">
            
            <div class="col-md-6">
              <button class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">
                Update Profile
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </form>    

    </div>
  </div>
{% endblock %}