{% extends 'components/dashboard/base.html'%} 
{%block title%}Course | Skylearner {% endblock %}
{% block sub_title %}<h6 class="font-weight-bolder mb-0">My Courses</h6>{% endblock %}
{% load static %}
 
{%block content%}
<h1>Course List</h1>

{% if user.is_manager %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
</li>
<li class="nav-item" role="presentation">
  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Published</button>
</li>
  <li class="nav-item " role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Pending</button>
  </li>
   
    
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-lg-12 position-relative z-index-2">
              <div class="row mt-5">
                {% for i in course %}
                   {%if i.status == "PUBLISH"%}
                  <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="card mt-5" data-animation="true">
                      
                      <div
                        class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        
                        <a class="d-block blur-shadow-image">
                          
                          <span class="badge rounded-pill badge-success position-absolute">{{i.status}}</span>
                          
                          <img
                            src="{{ i.featured_image.url }}"
                            alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-lg" />
                        </a>
                        <div
                          class="colored-shadow"
                          style="
                            background-image: url('{{ i.featured_image.url }}
                          "></div>
                      </div>
                      <div class="card-body text-center">
                        
                        <div class="d-flex mt-n6 mx-auto">
                          <a
                            class="btn btn-link text-primary ms-auto border-0"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Refresh">
                            <i class="material-icons text-lg">refresh</i>
                          </a>
                          <button
                            class="btn btn-link text-info me-auto border-0"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Edit">
                            <i class="material-icons text-lg">edit</i>
                          </button>
                        </div>
                        <h5 class="font-weight-normal mt-3">
                          <a href="javascript:;">{{ i.title }}</a>
                        </h5>
                        <p class="mb-0">
                          {{i.description | truncatewords:20 |safe}}
                        </p>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer d-flex">
                        
                        <a class="btn btn-success btn-sm mx-auto" href="{{i.course_url}}">View</a>
                        <a class="btn btn-info btn-sm mx-auto" href="{{i.edit_course_url}}">Edit</a>
                        <button type="button" class="btn bg-gradient-primary mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Delete
                        </button>
                        <button type="button" class="btn bg-gradient-warning mx-auto" data-bs-toggle="modal" data-bs-target="#publish_modal">
                          Unpublish
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure want to delete course?</p>
                                <strong>{{i.title}}</strong>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-success" data-bs-dismiss="modal">Close</button>
                                <form method="post" action="{% url 'delete_course' i.id %}">
                                  {% csrf_token %}
                                <button type="submit" class="btn bg-gradient-danger" data-bs-dismiss="modal">Yes</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="publish_modal" tabindex="-1" role="dialog" aria-labelledby="publish_modalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="publish_modalLabel">Delete Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure want to unpublish blog?</p>
                                <strong>{{i.title}}</strong>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                                <form method="post" action="{% url 'unpublish_course' i.id %}">
                                  {% csrf_token %}
                                <button type="submit" class="btn bg-gradient-success" data-bs-dismiss="modal">Yes</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      
                      </div>
                      <div class="card-footer d-flex">
                        <i
                        class="material-icons position-relative text-lg me-1"
                        >account_circle</i
                      >
                      <p class="text-sm ">{{i.instructor}}</p>
                        </div>
                    </div>
                  </div>
                  
                  {% endif %}
                  
                  {% endfor %}
                </div>
            </div>
          </div>
        </div></div>
    </div> 
    <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-lg-12 position-relative z-index-2">
              <div class="row mt-5">
                {% for i in course %}
                   {%if i.status == "PENDING"%}
                  <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="card mt-5" data-animation="true">
                      
                      <div
                        class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        
                        <a class="d-block blur-shadow-image">
                          
                          <span class="badge rounded-pill badge-warning position-absolute">{{i.status}}</span>
                          
                          <img
                            src="{{ i.featured_image.url }}"
                            alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-lg" />
                        </a>
                        <div
                          class="colored-shadow"
                          style="
                            background-image: url('{{ i.featured_image.url }}
                          "></div>
                      </div>
                      <div class="card-body text-center">
                        
                        <div class="d-flex mt-n6 mx-auto">
                          <a
                            class="btn btn-link text-primary ms-auto border-0"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Refresh">
                            <i class="material-icons text-lg">refresh</i>
                          </a>
                          <button
                            class="btn btn-link text-info me-auto border-0"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Edit">
                            <i class="material-icons text-lg">edit</i>
                          </button>
                        </div>
                        <h5 class="font-weight-normal mt-3">
                          <a href="javascript:;">{{ i.title }}</a>
                        </h5>
                        <p class="mb-0">
                          {{i.description | truncatewords:20 |safe}}
                        </p>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer d-flex">
                        
                        <a class="btn btn-info btn-sm mx-auto" href="{{i.course_url}}">View</a>
                        <a class="btn btn-warning btn-sm mx-auto" href="{{i.edit_course_url}}">Edit</a>
                        <button type="button" class="btn bg-gradient-primary mx-auto" data-bs-toggle="modal" data-bs-target="#course_modal">
                          Delete
                        </button>
                        <button type="button" class="btn bg-gradient-success mx-auto" data-bs-toggle="modal" data-bs-target="#publish_modal">
                          Publish
                        </button>
                        
                        {% comment %} ==========Modal for Delete============ {% endcomment %}
                        <div class="modal fade" id="course_modal" tabindex="-1" role="dialog" aria-labelledby="course_modalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="course_modalLabel">Delete Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure want to delete course?</p>
                                <strong>{{i.title}}</strong>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-success" data-bs-dismiss="modal">Close</button>
                                <form method="post" action="{% url 'delete_course' i.id %}">
                                  {% csrf_token %}
                                <button type="submit" class="btn bg-gradient-danger" data-bs-dismiss="modal">Yes</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="modal fade" id="publish_modal" tabindex="-1" role="dialog" aria-labelledby="publish_modalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="publish_modalLabel">Delete Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure want to publish course?</p>
                                <strong>{{i.title}}</strong>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                                <form method="post" action="{% url 'publish_course' i.id %}">
                                  {% csrf_token %}
                                <button type="submit" class="btn bg-gradient-success" data-bs-dismiss="modal">Yes</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer d-flex">
                      <i
                      class="material-icons position-relative text-lg me-1"
                      >account_circle</i
                    >
                    <p class="text-sm ">{{i.instructor}}</p>
                      </div>
                    </div>
                  </div>
                  
                  {% endif %}
                  
                 
                  
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>


  {% comment %} =================Modal=============== {% endcomment %}
  

{% endif %}
{% endblock %}
