{% extends 'components/dashboard/base.html'%} 
{%block title%}Students| Skylearner {% endblock %}
{% block sub_title %}<h6 class="font-weight-bolder mb-0">Students</h6>{% endblock %}
{% load static %}
 
{%block content%}
<h1>Student List</h1>
{% if user.is_manager %}

<div class="row">
  {% for i in std_list %}
  {% if i.is_student %}
  <div class="col-md-3 mt-3">
    <div class="card card-profile">
      <img
        src="{% static 'img/team-1.jpg' %}"
        alt="Image placeholder"
        class="card-img-top" />
      <div class="row justify-content-center">
        <div class="col-4 col-lg-4 order-lg-2">
          <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
            <a href="javascript:;">
              <img
                src="{{ MEDIA_URL }}{{i.profile_image.url}}"
                class="rounded-circle img-fluid border border-2 border-white" />
            </a>
          </div>
        </div>
      </div>
      <h6 class="text-center">@{{i.username}}</h6>
      <h6 class="text-center text-muted">{{i.get_full_name}}</h6>
      <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
        <div class="d-flex justify-content-between">
          <a
            href="{{i.account_detail_url}}"
            class="btn btn-sm btn-info mb-0 d-none d-lg-block"
            >View Profile</a
          >
          <a
            href="javascript:;"
            class="btn btn-sm btn-info mb-0 d-block d-lg-none"
            ><i class="ni ni-collection"></i
          ></a>
          <a
            href="javascript:;"
            class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block"
            >Message</a
          >
          <a
            href="javascript:;"
            class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"
            ><i class="ni ni-email-83"></i
          ></a>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">
              <div class="d-grid text-center">
                <span class="text-lg font-weight-bolder">22</span>
                <span class="text-sm opacity-8">Total Course</span>
              </div>
              <div class="d-grid text-center mx-4">
                <span class="text-lg font-weight-bolder">10</span>
                <span class="text-sm opacity-8">Total Students</span>
              </div>
              <div class="d-grid text-center">
                <span class="text-lg font-weight-bolder">89</span>
                <span class="text-sm opacity-8">Feedbacks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </div>
</div>
    
    

{% endif %}
{% endblock %}
